.error {
  &Container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  &Image {
    height: 200px;
  }
  &NotFound {
    height: 140px;
    width: 140px;
    margin-top: 10px;
  }
}
