@import '../../styles/variables';
@import '../../styles/common.scss';
@import '../../styles/mixins.scss';

.card {
  &Wrapper {
    width: 100%;
    height: 30px;
    background: $graylight;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 10px;

    @include media('<=small-x') {
      max-width: calc((100% / 1) - 35px);
    }
    @include media('>small-x') {
      max-width: calc((100% / 2) - 35px);
    }
    @include media('>small') {
      max-width: calc((100% / 3) - 35px);
    }
    margin: 5px;
  }
}
