//Styles related to the html/body tags that are not the concern of any single component.
html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 14px;
  line-height: 1.5;
  background-color: $white;
}

select,
input:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: black;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
