@mixin title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  margin-block: 2px;
  color: $primary-color;
}
@mixin description {
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  margin-block: 1px;
  color: $secondary-color;
}

@mixin description2 {
  font-size: 14px;
  font-weight: 400;
  // line-height: 1;
  margin-block: 2px;
  color: $primary-color;
}

@mixin ellipsis-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@mixin ellipsis1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}
@mixin ellipsis2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
@mixin ellipsis3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
