//The intention is to use it as it's needed, instead of bringing in all the features with no need.

//Create basic grid with the breakpoints and the widths specified in the varaibles
.container {
  padding-right: $gutter / 2;
  padding-left: $gutter / 2;
  margin-right: auto;
  margin-left: auto;
}

.container {
  @each $breakpoint, $container-width in $container-widths {
    $breakpoint: map-get($breakpoints, $breakpoint);
    @media (min-width: $breakpoint) {
      max-width: $container-width;
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -$gutter / 2;
  margin-left: -$gutter / 2;
}
