//Breakpoints
$breakpoints: (
  small-x: 576px,
  small: 768px,
  large: 992px,
);

//Grid Width
$container-widths: (
  small-x: 540px,
  small: 740px,
  large: 1000px,
);

$gutter: 40px;

// Colors
$primary-color: #24292e;
$secondary-color: #586069;
$graylight: #f4f4f4;
$gray: #e0e0e0;
$gray2: #a59d9d;
$blue-light: #0366d6;
$white: #fff;
