@import '../../styles/variables';
@import '../../styles/common.scss';

.header {
  &Wrapper {
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &Logo {
    height: 50px;
    width: 50px;
  }
  &Text {
    padding-left: 10px;
    &Title {
      @include title;
    }
    &Desc {
      @include description;
    }
  }
}
