@import '../../styles/variables';
@import '../../styles/common.scss';
@import '../../styles/mixins.scss';

.banner {
  &Wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &Image {
    max-width: 300px;
  }

  &Title {
    color: #5a5a5a;
    font-size: 30px;
    text-decoration: wavy;
    text-transform: uppercase;
  }

  &Footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #777;
    font-size: 16px;
    font-weight: 100;

    &Info {
      & > span {
        display: block;
        text-align: center;
      }
      & > :last-child {
        color: #ccc;
        font-size: 11px;
        font-weight: 400;
        text-transform: uppercase;
      }
    }

    &Types {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.evolution{
  &List{
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}
